
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
    
}
.modal-container{
    background-color: #fff;
    width: 634px;
    height: 454px;
    padding: 32px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 16px;
    animation: modalLocve ease .5s;
    
}
.modal-header {
    display: flex;
    border-radius: 8px;
    width: 120px;
    height: 70px;
}
.modal-input{
   
    width: 85px;
    height: 20px;
    
}

.modal-input1{
    margin-left: 153px;
    width: 85px;
    height: 20px;
}
.input-date{
    height: 40px;
    border-radius: 8px;
    background-color: #fff;
}

.input-radio{
    display: flex;
    gap: 40px;
}
.input-checkox {
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap:14px ;
}
.h1-locve{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700 Bold;
    align-content: center;
    
    text-align: center;
}
.locve {
    margin-top:24px ;
    width: 160px;
    height: 48px;
    border: 1px solid #FF993C;
    border-radius: 8px;
    background-color: #FFF;
    line-height: 20px;
    font-size: 18px;
    color: #FF993C;
    font-weight: 700 bold;
    margin-left: 188px;
   
}
@keyframes modalLocve {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* input[type="radio"]{
    display: none;
} */
.custom {
    width: 20px;
    height: 20px;
    border: 2px solid #27AEF9 ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.custom .check-mark {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #27AEF9;
    display: inline-block;
    display: none;
}
.custom input {
    display: none;
}
.custom input:checked + .check-mark {
    display: inline-block;
}

.check-mark{

}
input[type="date"]::-webkit-calendar-picker-indicator{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="orange" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}
.f2{
    margin-left: 5px;
}
input[type="checkbox"] {
    
}
.span-input{
    margin-left: 5px;
}
.label-input {
    margin-left: -33px;
}