
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
    
}
.modal-container{
    background-color: #fff;
    width: 634px;
    height: 454px;
    padding: 32px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 16px;
    animation: modalLocve ease .5s;
    
}
.modal-header {
    display: flex;
    border-radius: 8px;
    width: 120px;
    height: 70px;
}
.modal-input{
   
    width: 85px;
    height: 20px;
    
}

.modal-input1{
    margin-left: 153px;
    width: 85px;
    height: 20px;
}
.input-date{
    height: 40px;
    border-radius: 8px;
    background-color: #fff;
}
::-webkit-calendar-picker-indicator{
   background-color: #fff;
   color: #FF993C;
}
.input-radio{
    display: flex;
    gap: 40px;
}
.input-checkox {
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap:14px ;
}
.h1-locve{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700 Bold;
    align-content: center;
    
    text-align: center;
}
.locve {
    margin-top:24px ;
    width: 160px;
    height: 48px;
    border: 1px solid #FF993C;
    border-radius: 8px;
    background-color: #FFF;
    line-height: 20px;
    font-size: 18px;
    color: #FF993C;
    font-weight: 700 bold;
    margin-left: 188px;
   
}
@keyframes modalLocve {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
input[type="radio"]{
    display: none;
}
.custom {
    position: relative;
    cursor: pointer;
}
.custom:nth-last-child(1) {
    padding-right: 0;
}
.custom::before {
    content: "";
    border: 2px solid #27AEF9;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.custom::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(34, 34, 34, 0);
    left: 4px;
    top: 14px;
    margin: -8px 20px;
    margin-left: 0;
    border-radius: 50%;
    transition: all 0.4s;
}
input[type="radio"]:checked + .custom::after{
    background: rgba(34, 34, 34, 1);
}